header {
  background-color: blue;
  color: white;
  /* text-align: center; */
  height: 150px;
  display: flex;
  align-items: center;
}
body {
  background-color: rgb(250, 250, 250);
}
header div {
  text-align: center;
  width: 100%;
}
main {
  width: 100%;
  background-color: rgb(250, 250, 250);
  height: 1hv;
}
main div {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  background-color: rgb(250, 250, 250);
}
main div input {
  margin-bottom: 15px;
}
main button {
  width: 120px;
  /* margin-left: 10px; */
  margin-bottom: 15px;
}

#tota {
  padding: 0 0 0 5px;
}

#total {
  padding: 20px 0 0 5px;
}
#total p {
  margin: 0;
}

main button {
  margin-right: 15px;
}

@media (max-width: 600px) {
  main div {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
